{% extends 'frontend/master.html' %}

{% load staticfiles timestamp weather qr_code markdown_deux_tags colors i18n l10n %}

{% block title %}{{ apiary.name }} - {{ block.super }}{% endblock %}

{% block head %}
    {% if apiary.latitude and apiary.longitude %}
{#        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">#}
{#        <script src="{% static 'js/leaflet.js' %}"></script>#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js"></script>
        <style>
            .apiary-map {
                height: 400px;
            }
        </style>
    {% endif %}
    <style>
        .year-circle:before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: grey;
        }

        .year-circle.blue:before {
            background-color: hsl(240, 80%, 50%);
        }

        .year-circle.white:before {
            background-color: hsl(0, 80%, 100%);
        }

        .year-circle.yellow:before {
            background-color: hsl(60, 80%, 50%);
        }

        .year-circle.red:before {
            background-color: hsl(0, 80%, 50%);
        }

        .year-circle.green:before {
            background-color: hsl(120, 80%, 50%);
        }
    </style>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'frontend:apiary-list' %}">Apiaries</a></li>
                    <li class="is-active"><a href="{% url 'frontend:apiary-detail' pk=apiary.pk %}">{{ apiary.name }}</a></li>
                </ul>
            </nav>

            <h1 class="title">
                <span>{{ apiary.name }}</span>
                <a href="{% url 'frontend:apiary-edit' pk=apiary.pk %}">
                    <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                </a>
            </h1>

            <div class="tabs is-centered">
                <ul>
                    <li class="is-active">
                        <a href="{% url 'frontend:apiary-detail' pk=apiary.pk %}">
                            <span class="icon"><i class="fa fa-archive"></i></span>
                            <span>{% trans 'Apiary' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fa fa-chart-line"></i></span>
                            <span>{% trans 'Statistics' %}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <h2 class="title is-4">{% trans 'Hives' %}</h2>
            <table class="table is-striped is-fullwidth is-striped is-hoverable">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th><abbr title="{% trans 'Last Inspection' %}">{% trans 'Insp' %}</abbr></th>
                    <th class="is-hidden-desktop"><abbr title="{% trans 'Queen' %}">{% trans 'Qn' %}</abbr></th>
                    <th class="is-hidden-touch"><abbr title="{% trans 'Queen' %}">{% trans 'Qn' %}</abbr></th>
                    <th class="is-hidden-touch"></th>
                </tr>
                </thead>
                <tbody>
                {% for hive in apiary.hives.all %}
                    <tr>
                        {% url 'frontend:hive-detail' pk=hive.pk as hive_detail_url %}
                        <td><a href="{{ hive_detail_url }}">{{ hive.name }}{% if hive.makes_honey %} <span class="tag is-info"><i class="fa fa-dollar-sign"></i></span>{% endif %}</a></td>
                        <td>
                            {% if hive.inspections.first %}
                                <a href="{% url 'frontend:inspection-detail' pk=hive.inspections.first.pk %}">{{ hive.inspections.first.date }}</a>
                            {% else %}
                                <em>{% trans 'N/A' %}</em>
                            {% endif %}
                        </td>
                        <td class="is-hidden-desktop">
                            {% if hive.queen %}
                                {% if hive.queen.year %}
                                    <span class="year-circle {{ hive.queen.year|year_color }}"></span>
                                {% endif %}
                                {% if hive.queen.number %}
                                    <em>{{ hive.queen.number }}</em>
                                {% endif %}
                            {% else %}
                                <em>{% trans 'N/A' %}</em>
                            {% endif %}
                        </td>
                        <td class="is-hidden-touch">
                            {% if hive.queen %}
                                {% if hive.queen.year %}
                                    <span class="year-circle {{ hive.queen.year|year_color }}"></span>
                                    {{ hive.queen.year }}
                                    {% if hive.queen.number %}
                                    <span> &mdash; </span>
                                    {% endif %}
                                {% endif %}
                                {% if hive.queen.number %}
                                    <em>{{ hive.queen.number }}</em>
                                {% endif %}
                            {% else %}
                                <em>{% trans 'N/A' %}</em>
                            {% endif %}
                        </td>
                        <td class="is-hidden-touch has-text-right">
                            <a href="{% url 'frontend:inspection-create' pk=hive.pk %}" class="button is-small" title="{% trans 'Create Inspection' %}">
                                <span class="icon"><i class="fa fa-clipboard-list"></i></span>
                            </a>
                            <a href="{% url 'frontend:hive-transfer' pk=hive.pk %}" class="button is-small" title="{% trans 'Transfer Hive' %}">
                                <span class="icon"><i class="fa fa-exchange-alt"></i></span>
                            </a>
                            <a href="{% url 'frontend:hive-edit' pk=hive.pk %}" class="button is-small" title="{% trans 'Edit' %}">
                                <span class="icon"><i class="fa fa-edit"></i></span>
                            </a>
                            {% with absolute_url=request.scheme|add:'://'|add:request.get_host|add:hive_detail_url %}
                            <a href="{% qr_url_from_text absolute_url size="h" image_format="svg" border="1" %}" target="_blank" class="button is-small is-hidden-touch" title="{% trans 'QR Code' %}">
                                <span class="icon"><i class="fa fa-qrcode"></i></span>
                            </a>
                            {% endwith %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <em>{% trans 'No hives' %}</em>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="4"><em>{% trans 'Total' %}: {{ apiary.hives.count }}</em></td>
                    </tr>
                </tbody>
            </table>
            {% if apiary.hives.count > 0 %}
                <div class="buttons">
                    <a class="button is-success" href="{% url 'frontend:hive-create' pk=apiary.pk %}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add Hive' %}</span>
                    </a>
                </div>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'frontend:hive-create' pk=apiary.pk %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add Your First Hive' %}</span>
                    </a>
                </div>
            {% endif %}

            <hr>

            <h2 class="title is-4">{% trans 'Details' %}</h2>
            <div class="columns">
                <div class="column is-half">
                    {% if apiary.latitude and apiary.longitude %}
                        <div class="box">
                            <h3 class="subtitle">Forecast</h3>
                            <table class="table is-fullwidth is-striped is-hoverable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th><abbr title="Condition">{% trans 'Con' %}</abbr></th>
                                    <th ><abbr title="Average">{% trans 'Avg' %}</abbr></th>
                                    <th class="is-hidden-touch"><abbr title="Minimum">{% trans 'Min' %}</abbr></th>
                                    <th class="is-hidden-touch"><abbr title="Maximum">{% trans 'Max' %}</abbr></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for day in weather.list %}
                                    <tr>
                                        <td>{{ day.dt|date_from_timestamp|date:"D" }}</td>
                                        <td>
                                        <span class="icon" title="{{ day.weather.0.main }}">
                                            <i class="wi wi-{{ day.weather.0.main|weather_icon }}"></i>
                                        </span>
                                        </td>
                                        <td>{{ day.temp.day|floatformat }} {{ user.settings.current_temp_unit }}</td>
                                        <td class="is-hidden-touch">{{ day.temp.min|floatformat }} {{ user.settings.current_temp_unit }}</td>
                                        <td class="is-hidden-touch">{{ day.temp.max|floatformat }} {{ user.settings.current_temp_unit }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    <div class="box">
                        <h3 class="subtitle">{% trans 'Address' %}</h3>
                        {% if apiary.address %}
                            <address>{{ apiary.address }}</address>
                        {% else %}
                            <em>{% trans 'N/A' %}</em>
                        {% endif %}
                    </div>

                    <div class="box">
                        <h3 class="subtitle">{% trans 'Notes' %}</h3>
                        {% if apiary.notes %}
                            <div class="content">{{ apiary.notes|markdown }}</div>
                        {% else %}
                            <em>{% trans 'N/A' %}</em>
                        {% endif %}
                    </div>
                </div>
                {% if apiary.latitude and apiary.longitude %}
                    <div class="column is-half">
                        <div class="box is-hidden-desktop">
                            <h3 class="subtitle">{% trans 'Map' %}</h3>

                            <a href="geo:{{ apiary.latitude }}, {{ apiary.longitude }}">
                                <span class="icon"><i class="fa fa-external-link-alt"></i></span>
                                <span>{% trans 'Show on Map' %}</span>
                            </a>
                        </div>
                        <div id="apiary-map" class="box apiary-map"></div>
                    </div>
                {% endif %}
            </div>

            <hr>

            <h2 class="title is-4">{% trans 'Files' %}</h2>
            <table class="table is-fullwidth is-striped">
                <tr>
                    <th>{% trans 'File' %}</th>
                    <th>{% trans 'Uploaded' %}</th>
                    <th class="is-hidden-touch">{% trans 'Size' %}</th>
                    <th></th>
                </tr>
                {% for file in apiary.files.all %}
                    <tr>
                        <td>
                            <a href="{% url 'frontend:apiary-file' pk=file.pk %}" target="_blank">
                                {{ file.file.name }} <span class="icon"><i class="fa fa-download"></i></span>
                            </a>
                        </td>
                        <td>
                            {{ file.date_created }}
                        </td>
                        <td class="is-hidden-touch">
                            {{ file.file.size|filesizeformat }}
                        </td>
                        <td>
                            <a href="{% url 'frontend:apiary-file-delete' pk=file.pk %}" class="button is-danger is-small" title="{% trans 'Delete file' %}">
                                <span class="icon">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <em>{% trans 'No files yet.' %}</em>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if apiary.files.count > 0 %}
                <div class="buttons">
                    <a class="button is-success" href="{% url 'frontend:apiary-add-file' pk=apiary.pk %}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add File' %}</span>
                    </a>
                </div>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'frontend:apiary-add-file' pk=apiary.pk %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add Your First File' %}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {% if apiary.latitude and apiary.longitude %}
        <script>
            (function () {
                var map = L.map('apiary-map');
                map.setView([{{ apiary.latitude|unlocalize }}, {{ apiary.longitude|unlocalize }}], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                L.marker([{{ apiary.latitude|unlocalize }}, {{ apiary.longitude|unlocalize }}], {
                    title: '{{ apiary.name }}'
                }).addTo(map);
                L.circle([{{ apiary.latitude|unlocalize }}, {{ apiary.longitude|unlocalize }}], {
                    color: 'green',
                    fillColor: 'green',
                    fillOpacity: 0.2,
                    radius: {{ apiary.radius|unlocalize }} * 1000
            }).
                addTo(map);
            }());
        </script>
    {% endif %}
{% endblock %}