{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}
            <h1 class="title">Delete File</h1>
            <div class="message is-danger">
                <p class="message-body">
                    Do you really want to delete the file <strong>{{ file.file.name }}</strong>?
                </p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="has-text-centered">
                    <a href="{% url 'frontend:apiary-detail' pk=file.apiary.pk %}" class="button">
                        Cancel
                    </a>
                    <button class="button is-danger">
                        Delete File
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}