{% extends 'frontend/master.html' %}

{% load markdown_deux_tags widget_tweaks staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet-geosearch.css' %}">
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet-geosearch.min.js' %}"></script>
    <style>
        .leaflet-control-geosearch.bar {
            /* mobile fix for leaflet-geosearch */
            width: auto;
            max-width: 400px;
            padding-left: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}
            <h1 class="title">{% if form.instance.pk %}Edit{% else %}Create{% endif %} Apiary</h1>
            {% if form.non_field_errors %}
                <div class="message is-danger">
                    <div class="message-header">
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {% for non_field_error in form.non_field_errors %}
                            {{ non_field_error }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <form action="" method="post">
                <div class="field">
                    <label for="{{ form.name.id_for_label }}" class="label">
                        {{ form.name.label }} *
                    </label>
                    <div class="control">
                        {%  render_field form.name|add_error_class:'is-danger' class+='input' placeholder=form.name.label %}
                    </div>
                    {% for error in form.name.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    <label for="{{ form.latitude.id_for_label }}" class="label">
                        {{ form.latitude.label }}
                    </label>
                    <div class="control">
                        {% render_field form.latitude|add_error_class:'is-danger' class+='input' type='number' min='-90' max='90' step='0.000001' placeholder=form.latitude.label %}
                    </div>
                    {% for error in form.latitude.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    <label for="{{ form.longitude.id_for_label }}" class="label">
                        {{ form.longitude.label }}
                    </label>
                    <div class="control">
                        {% render_field form.longitude|add_error_class:'is-danger' class+='input' type='number' min='-180' max='180' step='0.000001' placeholder=form.longitude.label %}
                    </div>
                    {% for error in form.longitude.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    <div class="control">
                        <div class="buttons">
                            <button class="button is-info" id="button-detect">
                                <span class="icon"><i class="fa fa-crosshairs"></i></span>
                                <span>Detect</span>
                            </button>
                            <button class="button is-info" id="button-show-map">
                                <span class="icon"><i class="fa fa-map"></i></span>
                                <span>Select on map</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="box is-hidden" style="height: 500px;" id="map"></div>

                <div class="field">
                    <label for="{{ form.address.id_for_label }}" class="label">
                        {{ form.address.label }}
                    </label>
                    <div class="control">
                        {% render_field form.address|add_error_class:'is-danger' class+='input' placeholder=form.address.label %}
                    </div>
                    {% for error in form.address.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    <label for="{{ form.radius.id_for_label }}" class="label">
                        {{ form.radius.label }}
                    </label>
                    <div class="control">
                        {% render_field form.radius|add_error_class:'is-danger' class+='input' type='number' min='0' max='10' step='0.1' placeholder=form.radius.label %}
                    </div>
                    {% for error in form.radius.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    <label for="{{ form.notes.id_for_label }}" class="label">
                        {{ form.notes.label }}
                    </label>
                    <div class="control">
                        {% autoescape off %}{% markdown_allowed %}{% endautoescape %}
                        {% render_field form.notes|add_error_class:'is-danger' class+='textarea' placeholder=form.notes.label %}
                    </div>
                    {% for error in form.notes.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                {% csrf_token %}
                <button class="button is-primary">
                    {% if form.instance.pk %}Save{% else %}Create{% endif %} Apiary
                </button>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        (function () {
            var $detectButton = document.getElementById('button-detect');
            var $mapButton = document.getElementById('button-show-map');
            var $latInput = document.getElementById('{{ form.latitude.id_for_label }}');
            var $lonInput = document.getElementById('{{ form.longitude.id_for_label }}');
            var $map = document.getElementById('map');

            var map = null;
            var marker = null;

            if (navigator.geolocation) {
                $detectButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    navigator.geolocation.getCurrentPosition(function (position) {
                        $latInput.value = position.coords.latitude.toFixed(6);
                        $lonInput.value = position.coords.longitude.toFixed(6);
                    });
                });
            }

            $mapButton.addEventListener('click', function (event) {
                event.preventDefault();

                $map.classList.toggle('is-hidden');

                if (map) {
                    return;
                }

                map = L.map($map);
                if ($latInput.value && $lonInput.value) {
                    map.setView([$latInput.value, $lonInput.value], 15);
                    marker = L.marker([$latInput.value, $lonInput.value]).addTo(map);
                } else {
                    map.setView([50, 0], 2);
                }

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                map.addControl(new GeoSearch.GeoSearchControl({
                    provider: new GeoSearch.OpenStreetMapProvider(),
                    style: 'bar',
                    showMarker: false,
                    autoClose: true
                }));

                // Don't bubble-up click on the search field
                document.querySelector('.leaflet-control-geosearch input').addEventListener('click', function (event) {
                    event.stopPropagation();
                });

                map.addEventListener('click', moveMarker);
            });

            function moveMarker(event) {
                console.log(event);
                var latLng = event.latlng;

                if (!marker) {
                    marker = L.marker(latLng).addTo(map);
                } else {
                    marker.setLatLng(latLng);
                }

                $latInput.value = latLng.lat.toFixed(6);
                $lonInput.value = latLng.lng.toFixed(6);
            }
        }());
    </script>
{% endblock %}