{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Coords</th>
                    <th class="is-hidden-touch"># Hives</th>
                    <th class="is-hidden-touch"></th>
                </tr>
                </thead>
                <tbody>
                {% for apiary in apiaries %}
                    <tr>
                        <td>
                            <a href="{% url 'frontend:apiary-detail' pk=apiary.pk %}">{{ apiary.name }}</a>
                        </td>
                        <td>
                            {% if apiary.address %}
                                {{ apiary.address }}
                            {% else %}
                                <em>N/A</em>
                            {% endif %}
                        </td>
                        <td>
                            {% if apiary.latitude and apiary.longitude %}
                                <a class="is-hidden-touch" target="_blank"
                                   href="https://www.openstreetmap.org/?mlat={{ apiary.latitude }}&mlon={{ apiary.longitude }}&zoom=16">
                                    <span class="icon"><i class="fa fa-external-link-alt"></i></span>
                                    <span>Open Map</span>
                                </a>
                                <a class="is-hidden-desktop"
                                   href="geo:{{ apiary.latitude }}, {{ apiary.longitude }}">
                                    <span class="icon"><i class="fa fa-external-link-alt"></i></span>
                                    <span>Map</span>
                                </a>
                            {% else %}
                                <em>N/A</em>
                            {% endif %}
                        </td>
                        <td class="is-hidden-touch">{{ apiary.hives.count }}</td>
                        <td class="is-hidden-touch has-text-right">
                            <a class="button is-small" href="{% url 'frontend:apiary-edit' pk=apiary.pk %}" title="Edit">
                                <span class="icon"><i class="fa fa-edit"></i></span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            <em>No apiaries</em>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td><em>Total: {{ apiaries.count }}</em></td>
                        <td></td>
                        <td></td>
                        <td><em>{{ total_hives }}</em></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            {% if user.apiaries.count > 0 %}
                <div class="buttons">
                    <a class="button is-success" href="{% url 'frontend:apiary-create' %}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Add Apiary</span>
                    </a>
                </div>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'frontend:apiary-create' %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Add Your First Apiary</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}