{% extends 'frontend/master.html' %}

{% load i18n %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li class="is-active">
                        <a href="{% url 'frontend:apiary-list' %}">
                            <span class="icon"><i class="fa fa-archive"></i></span>
                            <span>{% trans 'Apiaries' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'frontend:statistics' %}">
                            <span class="icon"><i class="fa fa-chart-line"></i></span>
                            <span>{% trans 'Statistics' %}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Address' %}</th>
                    <th>{% trans 'Coords' %}</th>
                    <th class="is-hidden-touch"># {% trans 'Hives' %}</th>
                    <th class="is-hidden-touch"></th>
                </tr>
                </thead>
                <tbody>
                {% for apiary in apiaries %}
                    <tr>
                        <td>
                            <a href="{% url 'frontend:apiary-detail' pk=apiary.pk %}">{{ apiary.name }}</a>
                        </td>
                        <td>
                            {% if apiary.address %}
                                {{ apiary.address }}
                            {% else %}
                                <em>{% trans 'N/A' %}</em>
                            {% endif %}
                        </td>
                        <td>
                            {% if apiary.latitude and apiary.longitude %}
                                <a class="is-hidden-touch" target="_blank"
                                   href="https://www.openstreetmap.org/?mlat={{ apiary.latitude }}&mlon={{ apiary.longitude }}&zoom=16" rel="noreferrer">
                                    <span class="icon"><i class="fa fa-external-link-alt"></i></span>
                                    <span>{% trans 'Open Map' %}</span>
                                </a>
                                <a class="is-hidden-desktop"
                                   href="geo:{{ apiary.latitude }}, {{ apiary.longitude }}">
                                    <span class="icon"><i class="fa fa-external-link-alt"></i></span>
                                    <span>{% trans 'Map' %}</span>
                                </a>
                            {% else %}
                                <em>{% trans 'N/A' %}</em>
                            {% endif %}
                        </td>
                        <td class="is-hidden-touch">{{ apiary.hives.count }}</td>
                        <td class="is-hidden-touch has-text-right">
                            <a class="button is-small" href="{% url 'frontend:apiary-edit' pk=apiary.pk %}" title="Edit">
                                <span class="icon"><i class="fa fa-edit"></i></span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            <em>{% trans 'No apiaries' %}</em>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td><em>{% trans 'Total' %}: {{ apiaries.count }}</em></td>
                        <td></td>
                        <td></td>
                        <td class="is-hidden-touch"><em>{{ total_hives }}</em></td>
                        <td class="is-hidden-touch"></td>
                    </tr>
                </tbody>
            </table>
            {% if user.apiaries.count > 0 %}
                <div class="buttons">
                    <a class="button is-success" href="{% url 'frontend:apiary-create' %}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add Apiary' %}</span>
                    </a>
                </div>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'frontend:apiary-create' %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add Your First Apiary' %}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}