[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
requests = "*"
dj-database-url = "*"
gunicorn = "*"
qrcode = "*"
django-qr-code = "*"
django-markdown-deux = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-filter = "*"
drf-yasg = "*"
django-widget-tweaks = "*"
django-private-storage = "*"
whitenoise = "*"


[dev-packages]

