[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-bulma = "*"
requests = "*"
dj-database-url = "*"
gunicorn = "*"
dj-static = "*"
qrcode = "*"
django-qr-code = "*"
django-markdown-deux = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-filter = "*"


[dev-packages]

