[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-bulma = "*"
requests = "*"
"psycopg2" = "*"
dj-database-url = "*"
gunicorn = "*"
dj-static = "*"


[dev-packages]

