<div class="tabs is-centered">
    <ul>
        <li{% if active == 'apiary-list' %} class="is-active"{% endif %}>
            <a href="{% url 'frontend:apiary-list' %}" title="Apiaries" class="is-hidden-touch">
                <span class="icon"><i class="fa fa-archive"></i></span>
                <span>Apiaries</span>
            </a>
            <a href="{% url 'frontend:apiary-list' %}" title="Apiaries" class="is-hidden-desktop">
                <span class="icon"><i class="fa fa-archive"></i></span>
            </a>
        </li>
        <li{% if active == 'statistics' %} class="is-active"{% endif %}>
            <a href="{% url 'frontend:statistics' %}" title="Statistics" class="is-hidden-touch">
                <span class="icon"><i class="fa fa-chart-line"></i></span>
                <span>Statistics</span>
            </a>
            <a href="{% url 'frontend:statistics' %}" title="Statistics" class="is-hidden-desktop">
                <span class="icon"><i class="fa fa-chart-line"></i></span>
            </a>
        </li>
        <li{% if active == 'settings' %} class="is-active"{% endif %}>
            <a href="{% url 'frontend:settings' %}" title="Settings" class="is-hidden-touch">
                <span class="icon"><i class="fa fa-wrench"></i></span>
                <span>Settings</span>
            </a>
            <a href="{% url 'frontend:settings' %}" title="Settings" class="is-hidden-desktop">
                <span class="icon"><i class="fa fa-wrench"></i></span>
            </a>
        </li>
    </ul>
</div>