{% load static %}
<nav class="navbar has-shadow   " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
            <img src="{% static 'images/logo.svg' %}" alt="Beez Logo">
            <span style="margin-left: 0.5em;">Beez</span>
        </a>

        <div class="navbar-burger" data-target="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a href="/admin" class="navbar-item">
                        <span class="icon"><fa class="fa fa-bug"></fa></span>
                        <span>Admin</span>
                    </a>
                {% endif %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">
                        <span class="icon"><fa class="fa fa-user"></fa></span>
                        <span>{{ request.user.username }}</span>
                    </div>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{% url 'apiary-list' %}"><span class="icon"><i class="fa fa-tachometer-alt"></i></span>  Dashboard</a>
                        <a class="navbar-item" href="#"><span class="icon"><i class="fa fa-user-circle"></i></span> Profile</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'logout' %}"><span class="icon"><i class="fa fa-sign-out-alt"></i></span> Log out</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'register' %}" class="navbar-item">Register</a>
                <a href="{% url 'login' %}" class="navbar-item">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>