{% load static i18n %}
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'frontend:index' %}">
            <img src="{% static 'images/logo.svg' %}" alt="Beez Logo">
            <span style="margin-left: 0.5em;">Beez</span>
        </a>

        <div class="navbar-burger" data-target="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                <div class="navbar-item">
                    <form action="{% url 'frontend:search' %}" method="get">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input type="text" class="input is-rounded" placeholder="{% trans 'Search' %}" name="q">
                                <span class="icon is-left">
                                    <i class="fa fa-search"></i>
                                </span>
                            </p>
                        </div>
                    </form>
                </div>
                {% if user.is_superuser %}
                    <a href="/admin" class="navbar-item">
                        <span class="icon"><i class="fa fa-bug"></i></span>
                        <span>{% trans "Admin" %}</span>
                    </a>
                {% endif %}
                {% if user.is_impersonate %}
                    <a href="/impersonate/stop" class="navbar-item">
                        <span class="icon"><i class="fas fa-user-alt-slash"></i></span>
                    </a>
                {% endif %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">
                        <span class="icon"><i class="fa fa-user"></i></span>
                        <span>{{ request.user.username }}</span>
                    </div>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{% url 'frontend:apiary-list' %}">
                            <span class="icon"><i class="fa fa-tachometer-alt"></i></span>
                            <span>{% trans "Dashboard" %}</span>
                        </a>
                        <a class="navbar-item" href="{% url 'frontend:settings' %}">
                            <span class="icon"><i class="fa fa-wrench"></i></span>
                            <span>{% trans "Settings" %}</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'frontend:logout' %}">
                            <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
                            <span>{% trans "Log out" %}</span>
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'frontend:register' %}" class="navbar-item">
                    <span class="icon"><i class="fa fa-hashtag"></i></span>
                    <span>{% trans "Register" %}</span>
                </a>
                <a href="{% url 'frontend:login' %}" class="navbar-item">
                    <span class="icon"><i class="fa fa-sign-in-alt"></i></span>
                    <span>{% trans "Log in" %}</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>