{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Welcome to Beez!</h1>

            <div class="content">
                <p><strong>Beez</strong> is an open-source software project that aims to help beekeepers with different tasks.</p>

                <p>
                    <strong>Beez</strong> is in its <em>alpha stage</em> which means things constantly change. New
                    features are added while others may disappear. Data loss is also a possibility.
                </p>

                <h2>Features</h2>
                <p>
                    <ul>
                        <li>Have a number of apiaries and hives.</li>
                        <li>Weather forecast for an apiary's location.</li>
                        <li>Show your apiary on a map and track what area your bees can cover.</li>
                        <li>Create inspections for your hives and collect data.</li>
                        <li>Print out QR codes and stick them to your hives for quick access on mobile phones.</li>
                        <li>A browsable, RESTful API.</li>
                    </ul>
                </p>
            </div>

            <p class="has-text-centered">
                {% if not user.is_authenticated %}
                    <a href="{% url 'frontend:register' %}">Create an account</a> or <a href="{% url 'frontend:login' %}">log in.</a>
                {% endif %}
            </p>
        </div>
    </section>
{% endblock %}