{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Beez{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma-0.6.2.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all-5.0.8.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/weather-icons.min.css' %}">
    <style>
        a {
            /* Thanks for adding a weird dotted line around all links Firefox. */
            outline: none;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'frontend/_navbar.html' %}
    {% block body %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {

                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                Beez <em>v{{ beez_version }}</em>. Licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">GNU GPL v3</a>.
                Code on <a href="https://github.com/Retzudo/beez" target="_blank"><span class="icon"><i class="fab fa-github"></i></span><span>GitHub</span></a>.
            </div>
        </div>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>