{% load staticfiles i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Beez{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'misc/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#ffc40d">
    <meta name="apple-mobile-web-app-title" content="Beez">
    <meta name="application-name" content="Beez">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffc40d">

    <style>
        a {
            /* Thanks for adding a weird dotted line around all links Firefox. */
            outline: none;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'frontend/_navbar.html' %}
    {% block body %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {

                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                {% blocktrans %}
                    Beez <em>v{{ beez_version }}</em>. Licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank" rel="noreferrer">GNU GPLv3</a>.
                    Code on <a href="https://gitlab.com/Retzudo/beez" target="_blank" rel="noreferrer"><span class="icon"><i class="fab fa-gitlab"></i></span><span>GitLab</span></a>.
                {% endblocktrans %}
            </div>
        </div>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>