{% extends 'frontend/master.html' %}

{% load widget_tweaks %}

{% block body %}
    <section class="section">
        <div class="container">
            {% if form.non_field_errors %}
                <div class="message is-danger">
                    <div class="message-header">
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {% for non_field_error in form.non_field_errors %}
                            {{ non_field_error }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form action="" method="post">
                <div class="field">
                    <div class="control has-icons-left">
                        {% render_field form.username|add_error_class:'is-danger' class+="input" placeholder=form.username.label %}
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    {% for error in form.username.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        {% render_field form.password|add_error_class:'is-danger'  class+="input" placeholder=form.password.label %}
                        <span class="icon is-small is-left">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                    {% for error in form.password.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% csrf_token %}
                <button class="button is-primary">Log in</button>
            </form>
        </div>
    </section>
{% endblock %}