<div class="box">
    <h2 class="title">{{ apiary.name }}</h2>
    <div class="columns">
        <div class="column is-half">
            {% if apiary.address %}
                <address class="is-hidden-desktop">
                    <a  href="geo:{{ apiary.longitude }}, {{ apiary.latitude }}">{{ apiary.address }}</a>
                </address>
                <address class="is-hidden-mobile">
                    {{ apiary.address }}
                </address>
            {% endif %}

            Number of hives: {{ apiary.hives.count }}

            {% if apiary.notes %}
                <p>{{ apiary.notes }}</p>
            {% endif %}
        </div>
        <div class="column is-half is-hidden-mobile">
            <div id="map-apiary-{{ apiary.pk }}" class="apiary-map"></div>
            <script>
                (function () {
                    var map = L.map('map-apiary-{{ apiary.pk }}');

                    map.setView([{{ apiary.longitude }}, {{ apiary.latitude }}], 13);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    L.marker([{{ apiary.longitude }}, {{ apiary.latitude }}], {
                        title: '{{ apiary.name }}'
                    }).addTo(map);

                    L.circle([{{ apiary.longitude }}, {{ apiary.latitude }}], {
                        color: 'green',
                        fillColor: 'green',
                        fillOpacity: 0.2,
                        radius: {{ apiary.radius }} * 1000
                    }).addTo(map);
                }());
            </script>
        </div>
    </div>
</div>