<div class="tabs is-centered">
    <ul>
        <li{% if active == 'apiary-list' %} class="is-active"{% endif %}>
            <a href="{% url 'apiary-list' %}">
                <span class="icon"><i class="fa fa-industry"></i></span> Apiaries
            </a>
        </li>
        <li{% if active == 'statistics' %} class="is-active"{% endif %}>
            <a href="#">
                <span class="icon"><i class="fa fa-chart-line"></i></span> Statistics
            </a>
        </li>
        <li{% if active == 'settings' %} class="is-active"{% endif %}>
            <a href="#">
                <span class="icon"><i class="fa fa-wrench"></i></span> Settings
            </a>
        </li>
    </ul>
</div>