{% extends 'frontend/master.html' %}

{% block title %}{{ apiary.name }} - Beesh{% endblock %}

{% block head %}
    {% if apiary.latitude and apiary.longitude %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
        <style>
            .apiary-map {
                height: 400px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'apiary-list' %}">Apiaries</a></li>
                    <li class="is-active"><a href="{% url 'apiary-detail' pk=apiary.pk %}">{{ apiary.name }}</a></li>
                </ul>
            </nav>

            <div class="columns">
                <div class="column is-half">
                    <h1 class="title">{{ apiary.name }}</h1>
                    {% if apiary.address %}
                        <address>{{ apiary.address }}</address>
                    {% endif %}
                    {% if apiary.notes %}
                        <p>{{ apiary.notes }}</p>
                    {% endif %}
                </div>
                {% if apiary.latitude and apiary.longitude %}
                    <div id="apiary-map" class="column is-half apiary-map is-hidden-mobile"></div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {% if apiary.latitude and apiary.longitude %}
        <script>
            (function () {
                var map = L.map('apiary-map');
                map.setView([{{ apiary.latitude }}, {{ apiary.longitude }}], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                L.marker([{{ apiary.latitude }}, {{ apiary.longitude }}], {
                    title: '{{ apiary.name }}'
                }).addTo(map);
                L.circle([{{ apiary.latitude }}, {{ apiary.longitude }}], {
                    color: 'green',
                    fillColor: 'green',
                    fillOpacity: 0.2,
                    radius: {{ apiary.radius }} * 1000
                }).addTo(map);
            }());
        </script>
    {% endif %}
{% endblock %}