{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Coords</th>
                    <th class="is-hidden-mobile"># Hives</th>
                </tr>
                </thead>
                <tbody>
                {% for apiary in user.apiaries.all %}
                    <tr>
                        <td>
                            <a href="{% url 'apiary-detail' pk=apiary.pk %}">{{ apiary.name }}</a>
                        </td>
                        <td>{{ apiary.address }}</td>
                        <td>
                            <a class="is-hidden-mobile" target="_blank"
                               href="https://www.openstreetmap.org/?mlat={{ apiary.latitude }}&mlon={{ apiary.longitude }}&zoom=16">
                                Open Map
                            </a>
                            <a class="is-hidden-desktop" href="geo:{{ apiary.longitude }}, {{ apiary.latitude }}">
                                Map
                            </a>
                        </td>
                        <td class="is-hidden-mobile">{{ apiary.hives.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}