{% extends 'frontend/master.html' %}

{% load timestamp weather %}

{% block title %}{{ apiary.name }} - Beesh{% endblock %}

{% block head %}
    {% if apiary.latitude and apiary.longitude %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
        <style>
            .apiary-map {
                height: 400px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'apiary-list' %}">Apiaries</a></li>
                    <li class="is-active"><a href="{% url 'apiary-detail' pk=apiary.pk %}">{{ apiary.name }}</a></li>
                </ul>
            </nav>

            <h1 class="title">
                <span>{{ apiary.name }}</span>
                <a href="{% url 'apiary-edit' pk=apiary.pk %}">
                    <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                </a>
            </h1>

            <h2 class="title is-4">Hives</h2>
            {% if apiary.hives.count > 0 %}
                <table class="table is-striped is-fullwidth is-striped is-hoverable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th><abbr title="Last Inspection">Insp</abbr></th>
                        <th class="is-hidden-mobile"><abbr title="Last Recorded Weight">Wgt</abbr></th>
                        <th class="is-hidden-mobile"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hive in apiary.hives.all %}
                        {% if not hive.terminated %}
                            <tr>
                                <td><a href="{% url 'hive-detail' pk=hive.pk %}">{{ hive.name }}</a></td>
                                <td><a href="{% url 'inspection-details' pk=hive.inspections.first.pk %}">{{ hive.inspections.first.date }}</a></td>
                                <td class="is-hidden-mobile">{{ hive.last_recorded_weight|floatformat }} kg</td>
                                <td class="is-hidden-mobile has-text-right">
                                    <a href="{% url 'inspection-create' pk=hive.pk %}" class="button is-small" title="Create Inspection">
                                        <span class="icon"><i class="fa fa-clipboard-list"></i></span>
                                    </a>
                                    <a href="{% url 'hive-transfer' pk=hive.pk %}" class="button is-small" title="Transfer Hive">
                                        <span class="icon"><i class="fa fa-exchange-alt"></i></span>
                                    </a>
                                    <a href="{% url 'hive-edit' pk=hive.pk %}" class="button is-small" title="Edit">
                                        <span class="icon"><i class="fa fa-edit"></i></span>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <a class="button is-success" href="{% url 'hive-create' pk=apiary.pk %}">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                    <span>Add Hive</span>
                </a>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'hive-create' pk=apiary.pk %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Add Your First Hive</span>
                    </a>
                </div>
            {% endif %}

            <hr>

            <h2 class="title is-4">Details</h2>
            <div class="columns">
                <div class="column is-half">
                    {% if apiary.latitude and apiary.longitude %}
                        <div class="box">
                            <h3 class="subtitle">Forecast</h3>
                            <table class="table is-fullwidth is-striped is-hoverable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th><abbr title="Condition">Con</abbr></th>
                                    <th ><abbr title="Average">Avg</abbr></th>
                                    <th class="is-hidden-mobile"><abbr title="Minimum">Min</abbr></th>
                                    <th class="is-hidden-mobile"><abbr title="Maximum">Max</abbr></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for day in weather.list %}
                                    <tr>
                                        <td>{{ day.dt|date_from_timestamp|date:"D" }}</td>
                                        <td>
                                        <span class="icon" title="{{ day.weather.0.main }}">
                                            <i class="wi wi-{{ day.weather.0.main|weather_icon }}"></i>
                                        </span>
                                        </td>
                                        <td>{{ day.temp.day|floatformat }} °C</td>
                                        <td class="is-hidden-mobile">{{ day.temp.min }} °C</td>
                                        <td class="is-hidden-mobile">{{ day.temp.max }} °C</td>
                                    </tr>
                                {% endfor %}

                                <tr>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    <div class="box">
                        <h3 class="subtitle">Address</h3>
                        {% if apiary.address %}
                            <address>{{ apiary.address }}</address>
                        {% else %}0
                            <em>N/A</em>
                        {% endif %}
                    </div>

                    <div class="box">
                        <h3 class="subtitle">Notes</h3>
                        {% if apiary.notes %}
                            <p>{{ apiary.notes }}</p>
                        {% else %}
                            <em>N/A</em>
                        {% endif %}
                    </div>
                </div>
                {% if apiary.latitude and apiary.longitude %}
                    <div class="column is-half">
                        <div id="apiary-map" class="box apiary-map is-hidden-mobile"></div>
                        <div class="box is-hidden-desktop">
                            <h3 class="subtitle">Map</h3>

                            <a href="geo:{{ apiary.latitude }}, {{ apiary.longitude }}">
                                <span class="icon"><i class="fa fa-external-link-alt"></i></span>
                                <span>Show on Map</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {% if apiary.latitude and apiary.longitude %}
        <script>
            (function () {
                var map = L.map('apiary-map');
                map.setView([{{ apiary.latitude }}, {{ apiary.longitude }}], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                L.marker([{{ apiary.latitude }}, {{ apiary.longitude }}], {
                    title: '{{ apiary.name }}'
                }).addTo(map);
                L.circle([{{ apiary.latitude }}, {{ apiary.longitude }}], {
                    color: 'green',
                    fillColor: 'green',
                    fillOpacity: 0.2,
                    radius: {{ apiary.radius }} * 1000
            }).
                addTo(map);
            }());
        </script>
    {% endif %}
{% endblock %}