{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'apiary-list' %}">Apiaries</a></li>
                    <li><a href="{% url 'apiary-detail' pk=hive.apiary.pk %}">{{ hive.apiary.name }}</a></li>
                    <li class="is-active"><a href="{% url 'hive-detail' pk=hive.pk %}">{{ hive.name }}</a></li>
                </ul>
            </nav>

            <h1 class="title">{{ hive.name }}</h1>
        </div>
    </section>
{% endblock %}