{% extends 'frontend/master.html' %}

{% load static i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/c3-0.6.1.min.css' %}">
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'frontend:apiary-list' %}">Apiaries</a></li>
                    <li><a href="{% url 'frontend:apiary-detail' pk=hive.apiary.pk %}">{{ hive.apiary.name }}</a></li>
                    <li class="is-active"><a href="{% url 'frontend:hive-detail' pk=hive.pk %}">{{ hive.name }}</a></li>
                </ul>
            </nav>

            <h1 class="title">
                <span>{{ hive.name }} {% if hive.makes_honey %} <span class="tag is-info is-medium"><i class="fa fa-dollar-sign"></i></span>{% endif %}</span>
                <a href="{% url 'frontend:hive-edit' pk=hive.pk %}">
                    <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                </a>
            </h1>

            <div class="tabs is-centered">
                <ul>
                    <li>
                        <a href="{% url 'frontend:hive-detail' pk=hive.pk %}">
                            <span class="icon"><i class="fa fa-archive"></i></span>
                            <span>{% trans 'Hive' %}</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="{% url 'frontend:statistics-hive' pk=hive.pk %}">
                            <span class="icon"><i class="fa fa-chart-line"></i></span>
                            <span>{% trans 'Statistics' %}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <h1 class="title">{% trans 'Weight' %}</h1>
            <div id="weight-chart"></div>

            <h1 class="title">Varroa</h1>
            <div id="varroa-chart"></div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/d3-5.4.0.min.js' %}"></script>
    <script src="{% static 'js/c3-0.6.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script>
        $(function () {
            var weightChart = c3.generate({
                bindto: '#weight-chart',
                padding: {
                    left: 40,
                    right: 40
                },
                data: {
                    json: [],
                    xFormat: '%Y-%m-%dT%H:%M:%SZ',
                    keys: {
                        x: 'date',
                        value: ['weight']
                    },
                    names: {
                        weight: "{% trans 'Weight' %}"
                    }
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%b %d'
                        }
                    },
                    y: {
                        label: {
                            text: '{{ user.settings.current_weight_unit }}'
                        }
                    }
                },
                tooltip: {
                    format: {
                        value: function (value, ratio, id, index) {
                            return value + ' {{ user.settings.current_weight_unit }}';
                        }
                    }
                }
            });

            var varroaChart = c3.generate({
                bindto: '#varroa-chart',
                padding: {
                    left: 40,
                    right: 40
                },
                data: {
                    json: [],
                    xFormat: '%Y-%m-%dT%H:%M:%SZ',
                    keys: {
                        x: 'date',
                        value: ['mites_counted']
                    },
                    names: {
                        weight: "{% trans 'Mites' %}"
                    }
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%b %d'
                        }
                    },
                    y: {
                        label: {
                            text: '#'
                        }
                    }
                }
            });

            $.get('/api/inspections?hive={{ hive.pk }}&has_weight=1', function (response) {
                weightChart.load({
                    json: response,
                    xFormat: '%Y-%m-%dT%H:%M:%SZ',
                    keys: {
                        x: 'date',
                        value: ['weight']
                    },
                    names: {
                        weight: "{% trans 'Weight' %}"
                    }
                })
            });

            $.get('/api/inspections?hive={{ hive.pk }}&has_mites=1', function (response) {
                varroaChart.load({
                    json: response,
                    xFormat: '%Y-%m-%dT%H:%M:%SZ',
                    keys: {
                        x: 'date',
                        value: ['mites_counted']
                    },
                    names: {
                        weight: "{% trans 'Mites' %}"
                    }
                })
            });
        });
    </script>
{% endblock %}