{% extends 'frontend/master.html' %}

{% load i18n %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Delete Hive</h1>
            <div class="message is-danger">
                <p class="message-body">
                    {% trans 'Do you really want to delete this hive?' %}
                </p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="has-text-centered">
                    <a href="{% url 'frontend:hive-detail' pk=hive.pk %}" class="button">
                        {% trans 'Cancel' %}
                    </a>
                    <button class="button is-danger">
                        {% trans 'Delete Hive' %}
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}