{% extends 'frontend/master.html' %}

{% load qr_code markdown_deux_tags %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'apiary-list' %}">Apiaries</a></li>
                    <li><a href="{% url 'apiary-detail' pk=hive.apiary.pk %}">{{ hive.apiary.name }}</a></li>
                    <li class="is-active"><a href="{% url 'hive-detail' pk=hive.pk %}">{{ hive.name }}</a></li>
                </ul>
            </nav>

            <h1 class="title">
                <span>{{ hive.name }}</span>
                <a href="{% url 'hive-edit' pk=hive.pk %}">
                    <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                </a>
            </h1>

            <h2 class="title is-4">Inspections</h2>
            <table class="table is-striped is-fullwidth is-striped is-hoverable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th><abbr title="Last Recorded Weight">Wgt</abbr></th>
                    <th class="is-hidden-touch"></th>
                </tr>
                </thead>
                <tbody>
                {% for inspection in hive.inspections.all %}
                    <tr>
                        <td><a href="{% url 'inspection-detail' pk=inspection.pk %}">{{ inspection.date }}</a></td>
                        <td>
                            {% if inspection.weight %}
                                {{ inspection.weight }} kg
                            {% else %}
                                <em>N/A</em>
                            {% endif %}
                        </td>
                        <td class="has-text-right is-hidden-touch">
                            <a href="{% url 'inspection-edit' pk=inspection.pk %}" class="button is-small" title="Edit Inspection">
                                <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                            </a>
                            <a href="{% url 'inspection-delete' pk=inspection.pk %}" class="button is-small is-danger" title="Delete Inspection">
                                <span class="icon"><i class="fa fa-trash-alt"></i></span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">
                            <em>No inspections</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if hive.inspections.count > 0 %}
                <div class="buttons">
                    <a class="button is-success" href="{% url 'inspection-create' pk=hive.pk %}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Add Inspection</span>
                    </a>
                </div>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'inspection-create' pk=hive.pk %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>Create Your First Inspection</span>
                    </a>
                </div>
            {% endif %}

            <hr>

            <h2 class="title is-4">Details</h2>
            <div class="columns">
                <div class="column is-half">
                    <div class="box">
                        <h3 class="subtitle">Description</h3>
                        {% if hive.description %}
                            <div class="content">{{ hive.description }}</div>
                        {% else %}
                            <em>N/A</em>
                        {% endif %}
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <h3 class="subtitle">Notes</h3>
                        {% if hive.notes %}
                            <div class="content">{{ hive.notes|markdown }}</div>
                        {% else %}
                            <em>N/A</em>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>

            <div class="buttons">
                <a href="{% url 'hive-transfer' pk=hive.pk %}" class="button">
                    <span class="icon"><i class="fa fa-exchange-alt"></i></span>
                    <span>Transfer Hive</span>
                </a>
                <a href="{% url 'hive-terminate' pk=hive.pk %}" class="button is-danger">
                    <span class="icon"><i class="fa fa-ban"></i></span>
                    <span>Terminate Hive</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}