{% extends 'frontend/master.html' %}

{% load qr_code markdown_deux_tags colors i18n inspection %}

{% block title %}{{ hive.name }} - {{ block.super }}{% endblock %}

{% block head %}
    <style>
        .year-circle:before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: grey;
        }

        .year-circle.blue:before {
            background-color: hsl(240, 80%, 50%);
        }

        .year-circle.white:before {
            background-color: hsl(0, 80%, 100%);
        }

        .year-circle.yellow:before {
            background-color: hsl(60, 80%, 50%);
        }

        .year-circle.red:before {
            background-color: hsl(0, 80%, 50%);
        }

        .year-circle.green:before {
            background-color: hsl(120, 80%, 50%);
        }
    </style>
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'frontend:apiary-list' %}">{% trans 'Apiaries' %}</a></li>
                    <li><a href="{% url 'frontend:apiary-detail' pk=hive.apiary.pk %}">{{ hive.apiary.name }}</a></li>
                    <li class="is-active"><a href="{% url 'frontend:hive-detail' pk=hive.pk %}">{{ hive.name }}</a></li>
                </ul>
            </nav>

            <h1 class="title">
                <span>{{ hive.name }} {% if hive.makes_honey %} <span class="tag is-info is-medium"><i class="fa fa-dollar-sign"></i></span>{% endif %}</span>
                <a href="{% url 'frontend:hive-edit' pk=hive.pk %}">
                    <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                </a>
            </h1>

            <div class="tabs is-centered">
                <ul>
                    <li class="is-active">
                        <a href="{% url 'frontend:hive-detail' pk=hive.pk %}">
                            <span class="icon"><i class="fa fa-archive"></i></span>
                            <span>{% trans 'Hive' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'frontend:statistics-hive' pk=hive.pk %}">
                            <span class="icon"><i class="fa fa-chart-line"></i></span>
                            <span>{% trans 'Statistics' %}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <h2 class="title is-4">{% trans 'Inspections' %}</h2>
            <table class="table is-striped is-fullwidth is-striped is-hoverable">
                <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    <th class="is-hidden-touch"><abbr title="{% trans 'Summary' %}">{% trans 'Smry' %}</abbr></th>
                    <th class="is-hidden-touch">{% trans 'Notes' %}</th>
                    <th class="is-hidden-touch"></th>
                </tr>
                </thead>
                <tbody>
                {% for inspection in hive.inspections.all %}
                    <tr>
                        <td><a href="{% url 'frontend:inspection-detail' pk=inspection.pk %}">{{ inspection.date }}</a></td>
                        <td class="is-hidden-touch">
                            {{ inspection|inspection_summary:user.settings.current_weight_unit }}
                        </td>
                        <td class="is-hidden-touch">
                            {% if inspection.notes %}
                                {{ inspection.notes|truncatechars:50 }}
                            {% else %}
                                <em>{% trans 'N/A' %}</em>
                            {% endif %}
                        </td>
                        <td class="has-text-right is-hidden-touch">
                            <a href="{% url 'frontend:inspection-edit' pk=inspection.pk %}" class="button is-small" title="Edit Inspection">
                                <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                            </a>
                            <a href="{% url 'frontend:inspection-delete' pk=inspection.pk %}" class="button is-small is-danger" title="Delete Inspection">
                                <span class="icon"><i class="fa fa-trash-alt"></i></span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <em>{% trans 'No Inspections' %}</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if hive.inspections.count > 0 %}
                <div class="buttons">
                    <a class="button is-success" href="{% url 'frontend:inspection-create' pk=hive.pk %}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add Inspection' %}</span>
                    </a>
                </div>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'frontend:inspection-create' pk=hive.pk %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Create Your First Inspection' %}</span>
                    </a>
                </div>
            {% endif %}

            <hr>

            <h2 class="title is-4">{% trans 'Details' %}</h2>
            <div class="columns is-multiline">
                <div class="column is-half">
                    <div class="box">
                        <h3 class="subtitle">{% trans 'Notes' %}</h3>
                        {% if hive.notes %}
                            <div class="content">{{ hive.notes|markdown }}</div>
                        {% else %}
                            <em>{% trans 'N/A' %}</em>
                        {% endif %}
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <div class="level">
                            <div class="level-left">
                                <h3 class="subtitle">{% trans 'Queen' %}</h3>
                            </div>
                            <div class="level-right">
                                {% if hive.queen %}
                                    <a class="button is-small" href="{% url 'frontend:hive-edit-queen' pk=hive.pk %}">
                                        <span class="icon">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                    </a>
                                    <a class="button is-small" href="{% url 'frontend:hive-delete-queen' pk=hive.pk %}">
                                        <span class="icon">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if hive.queen %}
                            <div class="content">
                                <dl>
                                    <dt>{% trans 'Year' %}</dt>
                                    <dd><span class="year-circle {{ hive.queen.year|year_color }}"></span> {{ hive.queen.year }}</dd>

                                    {% if hive.queen.number %}
                                        <dt>{% trans 'Number' %}</dt>
                                        <dd>{{ hive.queen.number }}</dd>
                                    {% endif %}
                                </dl>
                            </div>
                        {% else %}
                            <a href="{% url 'frontend:hive-add-queen' pk=hive.pk %}" class="button">{% trans 'Specify queen' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr>

            <h2 class="title is-4">Files</h2>
            <table class="table is-fullwidth is-striped">
                <tr>
                    <th>{% trans 'File' %}</th>
                    <th>{% trans 'Uploaded' %}</th>
                    <th class="is-hidden-touch">{% trans 'Size' %}</th>
                    <th></th>
                </tr>
                {% for file in hive.files.all %}
                    <tr>
                        <td>
                            <a href="{% url 'frontend:hive-file' pk=file.pk %}" target="_blank">
                                {{ file.file.name }} <span class="icon"><i class="fa fa-download"></i></span>
                            </a>
                        </td>
                        <td>
                            {{ file.date_created }}
                        </td>
                        <td class="is-hidden-touch">
                            {{ file.file.size|filesizeformat }}
                        </td>
                        <td>
                            <a href="{% url 'frontend:hive-file-delete' pk=file.pk %}" class="button is-danger is-small" title="Delete file">
                                <span class="icon">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            <em>{% trans 'No files yet.' %}</em>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if hive.files.count > 0 %}
                <div class="buttons">
                    <a class="button is-success" href="{% url 'frontend:hive-add-file' pk=hive.pk %}">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add File' %}</span>
                    </a>
                </div>
            {% else %}
                <div class="buttons is-centered">
                    <a href="{% url 'frontend:hive-add-file' pk=hive.pk %}" class="button is-primary is-big">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span>{% trans 'Add Your First File' %}</span>
                    </a>
                </div>
            {% endif %}

            <hr>

            <div class="buttons">
                <a href="{% url 'frontend:hive-transfer' pk=hive.pk %}" class="button">
                    <span class="icon"><i class="fa fa-exchange-alt"></i></span>
                    <span>{% trans 'Transfer Hive' %}</span>
                </a>
                <a href="{% url 'frontend:hive-delete' pk=hive.pk %}" class="button is-danger">
                    <span class="icon"><i class="fa fa-ban"></i></span>
                    <span>{% trans 'Delete Hive' %}</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}