{% extends 'frontend/master.html' %}

{% load widget_tweaks markdown_deux_tags i18n %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'frontend:apiary-list' %}">{% trans 'Apiaries' %}</a></li>
                    <li><a href="{% url 'frontend:apiary-detail' pk=apiary.pk %}">{{ apiary.name }}</a></li>
                    <li class="is-active"><a>{% if form.instance.pk %}{% trans 'Edit Hive' %}{% else %}{% trans 'Create Hive' %}{% endif %}</a></li>
                </ul>
            </nav>

            <h1 class="title">{% if form.instance.pk %}{% trans 'Edit Hive' %}{% else %}{% trans 'Create Hive' %}{% endif %}</h1>
            {% if form.non_field_errors %}
                <div class="message is-danger">
                    <div class="message-header">
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {% for non_field_error in form.non_field_errors %}
                            {{ non_field_error }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form action="" method="post">
                <div class="field">
                    <label for="{{ form.name.id_for_label }}" class="label">
                        {{ form.name.label }} *
                    </label>
                    <div class="control">
                        {% render_field form.name|add_error_class:'is-danger' class+='input' placeholder=form.name.label %}
                    </div>
                    {% for error in form.name.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="field">
                    <label for="{{ form.notes.id_for_label }}" class="label">
                        {{ form.notes.label }}
                    </label>
                    <div class="control">
                        {% autoescape off %}{% markdown_allowed %}{% endautoescape %}
                        {% render_field form.notes|add_error_class:'is-danger' class+='textarea' placeholder=form.notes.label %}
                    </div>
                    {% for error in form.notes.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>

                {% csrf_token %}
                <button class="button is-primary">
                    {% if form.instance.pk %}{% trans 'Save Hive' %}{% else %}{% trans 'Create Hive' %}{% endif %}
                </button>
            </form>
        </div>
    </section>
{% endblock %}