{% extends 'frontend/master.html' %}
{% load bulma_tags %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}
            <h1 class="title">Transfer Hive</h1>
            {% if can_transfer %}
                <form action="" method="post">
                    {{ form|bulma }}
                    {% csrf_token %}
                    <button class="button is-primary">
                        Transfer Hive
                    </button>
                </form>
            {% else %}
                <article class="message is-info">
                    <div class="message-body">
                        You don't have any other apiaries.
                    </div>
                </article>
            {% endif %}
        </div>
    </section>
{% endblock %}