{% extends 'frontend/master.html' %}
{% load bulma_tags %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}
            <h1 class="title">Terminate Hive</h1>
            <div class="message is-danger">
                <p class="message-body">
                    Do you really want to delete this inspection of the hive <em>{{ inspection.hive }}</em> from {{ inspection.date }}?
                </p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="has-text-centered">
                    <a href="{% url 'frontend:hive-detail' pk=inspection.hive.pk %}" class="button">
                        Cancel
                    </a>
                    <button class="button is-danger">
                        Delete Inspection
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}