{% extends 'frontend/master.html' %}

{% load markdown_deux_tags %}

{% block title %}Inspection - {{ block.super }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'apiary-list' %}">Apiaries</a></li>
                    <li><a href="{% url 'apiary-detail' pk=inspection.hive.apiary.pk %}">{{ inspection.hive.apiary.name }}</a></li>
                    <li><a href="{% url 'hive-detail' pk=inspection.hive.pk %}">{{ inspection.hive.name }}</a></li>
                    <li class="is-active"><a href="{% url 'inspection-detail' pk=inspection.pk %}">Inspection</a></li>
                </ul>
            </nav>

            <h1 class="title">
                <span>Inspection</span>
                <a href="{% url 'inspection-edit' pk=inspection.pk %}">
                    <span class="icon"><i class="fa fa-pencil-alt"></i></span>
                </a>
            </h1>

            <table class="table is-bordered">
                <tr>
                    <th>Date</th>
                    <td>{{ inspection.date }}</td>
                </tr>
                <tr>
                    <th>Saw Queen</th>
                    <td>{{ inspection.saw_queen|yesno|capfirst }}</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td>{% if inspection.weight %}{{ inspection.weight }} kg{% else %}<em>N/A</em>{% endif %}</td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td>
                        {% if inspection.notes %}
                            <div class="content">{{ inspection.notes|markdown }}</div>
                        {% else %}
                            <em>N/A</em>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}
