{% extends 'frontend/master.html' %}

{% load widget_tweaks staticfiles markdown_deux_tags i18n %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'frontend:apiary-list' %}">{% trans 'Apiaries' %}</a></li>
                    <li><a href="{% url 'frontend:apiary-detail' pk=hive.apiary.pk %}">{{ hive.apiary.name }}</a></li>
                    <li><a href="{% url 'frontend:hive-detail' pk=hive.pk %}">{{ hive.name }}</a></li>
                    <li class="is-active"><a>{% if form.instance.pk %}{% trans 'Edit Inspection' %}{% else %}{% trans 'Create Inspection' %}{% endif %}</a></li>
                </ul>
            </nav>

            <h1 class="title">{% if form.instance.pk %}{% trans 'Edit Inspection' %}{% else %}{% trans 'Create Inspection' %}{% endif %}</h1>
            {% if form.non_field_errors %}
                <div class="message is-danger">
                    <div class="message-header">
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {% for non_field_error in form.non_field_errors %}
                            {{ non_field_error }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        
            <form action="" method="post">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.date.id_for_label }}" class="label">
                            {% trans form.date.label %} *
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <button class="button is-info" id="button-now">
                                    <span class="icon"><i class="fa fa-clock"></i></span>
                                    <span>{% trans 'Now' %}</span>
                                </button>
                            </div>
                            <p class="control">
                                <input type="date" class="input" id="date-input" required>
                            </p>
                            <p class="control is-expanded">
                                <input type="time" class="input" id="time-input" required>
                            </p>
                            {% render_field form.date|add_error_class:'is-danger' type='hidden' class+='input' placeholder='YYYY-MM-DDTHH:MM' %}
                        </div>
                        {% for error in form.date.errors %}
                            <p class="help is-danger is-fullwidth">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.weight.id_for_label }}" class="label">
                            {{ form.weight.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <a class="button is-static">
                                    {{ request.user.settings.current_weight_unit }}
                                </a>
                            </div>
                            <div class="control is-expanded">
                                {% render_field form.weight|add_error_class:'is-danger' type='number' min='1' class+='input' %}
                            </div>
                        </div>
                        {% for error in form.weight.errors %}
                            <p class="help is-danger is-fullwidth">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.saw_queen.id_for_label }}" class="label">
                            {{ form.saw_queen.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="select">
                            {{ form.saw_queen }}
                        </div>
                        {% for error in form.saw_queen.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.saw_eggs.id_for_label }}" class="label">
                            {{ form.saw_eggs.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="select">
                            {{ form.saw_eggs }}
                        </div>
                        {% for error in form.saw_eggs.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.needs_food.id_for_label }}" class="label">
                            {{ form.needs_food.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="select">
                            {{ form.needs_food }}
                        </div>
                        {% for error in form.needs_food.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.gave_food.id_for_label }}" class="label">
                            {{ form.gave_food.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                {% render_field form.gave_food|add_error_class:'is-danger' class+='input' placeholder='Syrup, dough etc.' %}
                            </div>
                        </div>
                        {% for error in form.gave_food.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.how_much_food.id_for_label }}" class="label">
                            {{ form.how_much_food.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <a class="button is-static">
                                    {{ request.user.settings.current_weight_unit }}
                                </a>
                            </div>
                            <div class="control is-expanded">
                                {% render_field form.how_much_food|add_error_class:'is-danger' type='number' step='0.01' min='0' class+='input' %}
                            </div>
                        </div>
                        {% for error in form.how_much_food.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.mites_counted.id_for_label }}" class="label">
                            {{ form.mites_counted.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                {% render_field form.mites_counted|add_error_class:'is-danger' type='number' min='0' class+='input' %}
                            </div>
                        </div>
                        {% for error in form.mites_counted.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.mite_treatment.id_for_label }}" class="label">
                            {{ form.mite_treatment.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                {% render_field form.mite_treatment|add_error_class:'is-danger' class+='input' placeholder='Formic acid, oxalic acid etc.' %}
                            </div>
                        </div>
                        {% for error in form.mite_treatment.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="{{ form.notes.id_for_label }}" class="label">
                            {{ form.notes.label }}
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {% autoescape off %}{% markdown_allowed %}{% endautoescape %}
                                {% render_field form.notes|add_error_class:'is-danger' class+='textarea' placeholder=form.notes.label %}
                            </div>
                        </div>
                        {% for error in form.notes.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                {% csrf_token %}
                <button class="button is-primary">
                    {% if form.instance.pk %}{% trans 'Save Inspection' %}{% else %}{% trans 'Create Inspection' %}{% endif %}
                </button>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script>
        (function () {
            var $dateInput = document.getElementById('date-input');
            var $timeInput = document.getElementById('time-input');
            var $hiddenDatetimeInput = document.getElementById('{{ form.date.id_for_label }}');
            var $button = document.getElementById('button-now');

            if ($hiddenDatetimeInput.value) {
                var parts = $hiddenDatetimeInput.value.split('T');
                $dateInput.value = parts[0];
                $timeInput.value = parts[1];
            }

            $dateInput.addEventListener('change', setDate);
            $timeInput.addEventListener('change', setDate);

            $button.addEventListener('click', function (event) {
                event.preventDefault();
                var now = moment();
                $dateInput.value = now.format('Y-MM-DD');
                $timeInput.value = now.format('HH:mm');
                $hiddenDatetimeInput.value = now.format('Y-MM-DDTHH:mm');
            });

            function setDate() {
                var selectedDate = $dateInput.value;
                var selectedTime = $timeInput.value;

                if (selectedDate && selectedTime) {
                    $hiddenDatetimeInput.value = selectedDate + 'T' + selectedTime;
                }
            }
        }());
    </script>
{% endblock %}