{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            {% include 'frontend/_dashboard_tabs.html' with active='apiary-list' %}
            <h1 class="title">Delete Queen</h1>
            <div class="message is-danger">
                <p class="message-body">
                    Do you really want to delete this queen of the hive <em>{{ queen.hive }}</em>?
                </p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="has-text-centered">
                    <a href="{% url 'frontend:hive-detail' pk=queen.hive.pk %}" class="button">
                        Cancel
                    </a>
                    <button class="button is-danger">
                        Delete Queen
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}